*{
    margin: 0%;
    padding: 0%;
    overflow-x: hidden;
}

.logo{
   font-weight: bold;
   font-size: 1cm;
   
}
.nav i{
    
    color: orange;
}
.li1{
    padding: 10px;
}

.search{
    width: 450px;
    position: relative;
    top: 10px;
}
.searchbtn{
    position: relative;
    top: 10px;
    width: 100px;

}
.li1 i{
    padding: 10px;
}

/* 2nd navbar */
.nav2 ul li{
    
    display: inline-block;
    
}
.nav2 ul li a{
    text-decoration: none;
    padding: 20px;
    color: black;
}
/* #navbarDropdown{
    color: black;
    text-decoration: none;
} */
.nav2 li a:hover{
    color: blue;
    text-decoration: underline;
}
/* carausal */
.sale{
    position: relative;
    bottom: 15rem;
    left: 10rem;
    font-weight: bold;
    font-size: 1.8cm;
    color: red;
}
.salebtn{
    position: relative;
    bottom: 15rem;
    left: 10rem;
    height: 50px;
    width: 150px;
    border-radius: 20%;
    background-color: lightgrey;
    font-weight: bold;
}
.salebtn:hover{
transition: 0.5s;
color: white;
background-color: orange;

}

/* cards starts */
.card1{
    position: relative;
    bottom: 210px;
    right: 14px;
}
.cardh1{
    color: white;
    position: relative;
    bottom: 17rem;
    left: 4rem;
    font-size: 1.6cm;
}
.span{
    color: white;
    position: relative;
    bottom: 17rem;
    left: 4rem;
}
.card2h1{
    position: relative;
    bottom: 25rem;
    left: 32rem;

}
.span2{
    position: relative;
    bottom: 25rem;
    left: 35rem; 
    text-decoration: underline;
}
/* 2nd cards line starts */
.card2{
    position: relative;
    bottom: 27rem;
    background-color: lightgray;
}

.click{
    background-color: black;
    color: white;
}
.card:hover{
  
    box-shadow: 10px 10px rgb(12, 11, 11);
}


/* new arrivals */
.arrival{
    font-size: 1.3cm;
    color: black;
    font-weight: bold;
    position: relative;
    bottom: 25rem;
    left: 40%;
}
.card3{
    position: relative;
    bottom: 25rem;
}
.cards:hover{
    background-color: grey;
   margin-top: -10px;
   transition: 0.5s;
}
.arrivalbtn{
    margin-left: 35%;
    width: 450px;
    height: 50px;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
}
.arrivalbtn:hover{
    background-color: black;
    color: white;
    margin-top: -5px;
    box-shadow: 5px 5px grey;
    transition: 0.5s;
}

/* card 4th start */
.card4{
    position: relative;
    bottom: 20rem;
    left: 5rem;
}
.card:hover{
    margin-top: -10px;
    transition:0.5s;
    transform: scale(1.1);
}

.join{
    position: relative;
    bottom: 15rem;
    left: 22%;
}
.sub{
    position: relative;
    bottom: 12rem;
    left: 25rem;
}
#email{
    width: 350px;
    height: 40px;
}
#subscribe{
    height: 40px;
    width: 150px;
    background-color: orange;
    color: white;
    font-weight: bold;
}
.watch{
    position: relative;
    bottom: 10rem;
}
.watch h2{
    color: white;
    position: relative;
    bottom: 12rem;
    left: 3rem;
}
.watch a{
    color: white;
    position: relative;
    bottom: 12rem;
    left: 3rem;
}